.wrapper {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

.btn {
    color: black;
    padding: 5px 15px;
    border: 1px solid #000;
    margin-right: 10px;
}

.lamp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.on {
    background: green;
}

.off {
    background-color: red;
}